<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <style>

            body{
                margin: 0;
                padding: 0;
            }

            *{
                box-sizing: border-box;
            }

            img{
                width: 150px;
                display: block;
                margin: 0 auto;
                box-shadow: 0px 0px 18px black;
            }

            header{
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 40px;
                background-color: #333;
                color: white;
                margin-bottom: 20px;
            }

            .img-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 200px;
            }

            .options{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0;
                margin: 0;
            }

            .options li{
                width: 45%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                width: 40%;
                border: 1px solid black;  
                margin: 0 0 20px 0;  
                text-align: center;   
                max-width: 250px;         
            }

            .options li.success{
                border-color: green;
                outline: 8px solid green;
            }

            .options li.error{
                border-color: red;
                outline: 8px solid red;
            }            

        </style>

        <main ng-controller="flagsCtrl">

            <header>
                <span>Time: {{totalTime}}</span>
                <span>Score:{{score}}</span>
            </header>
            

            <div>
                <div class="img-wrapper">
                    <img ng-if="current_flag" ng-src="{{ 'lib/svg/' + (current_flag.code | lowercase) + '.svg' }}">
                </div>

                <ul class="options">
                    <li ng-repeat="option in options" ng-click="selectFlag(option)" ng-class="{success: option.success, error: option.error}">{{option.name}}</li>
                </ul>

            </div>

            <p ng-if="!game">Escoge el pais al que pertenece cada bandera antes de que termine el tiempo</p>


        </main>

        
        <script src="lib/angular.js"></script>

        <script>

            angular.module('myApp', [])

            .controller('flagsCtrl', function($scope, $http, $timeout, $interval){

                $scope.score = 0;
                $scope.totalTime= 30;

                var keys;
                var used_keys = [];                

                $http.get('lib/countries.json').then(function(response){

                    $scope.countries = response.data;

                    keys = Object.keys($scope.countries);

                    getFlag()

                })




                function getFlag(){

                    var key = keys[Math.floor(Math.random()*keys.length)];

                    if(used_keys.indexOf(key) > -1){
                        getFlag();
                    }else{

                        used_keys.push(key);

                        $scope.current_flag = {
                            code: key,
                            name: $scope.countries[key]
                        };
                        
                        $scope.options = [$scope.current_flag];

                        var valid

                        while($scope.options.length < 4){

                            key = keys[Math.floor(Math.random()*keys.length)];

                            valid = true; 

                            for(var i = 0; i < $scope.options.length; i++){
                                valid = valid && $scope.options[i].code != key
                            }

                            if(valid){
                                $scope.options.push({
                                    code: key,
                                    name: $scope.countries[key]
                                })
                            }

                        }

                        shuffle($scope.options)
                    }

                }

                var thinking = false;

                $scope.selectFlag = function(option){


                    if(!$scope.game){
                        $scope.start();
                    }

                    if(!thinking){

                        thinking = true;

                        if(option.code === $scope.current_flag.code){
                            $scope.score++;
                            option.success = true;
                        }else{
                            option.error = true;
                        }

                        

                        $timeout(function(){

                            thinking = false;

                            option.success = false;
                            option.error = false;

                            getFlag()

                        },250)
                    }

                }

                $scope.start = function(){

                    $scope.game = $interval(function(){

                        $scope.totalTime--;

                        if($scope.totalTime == 0){
                            $interval.cancel($scope.game);

                            alert('Tu puntuación: ' + $scope.score);
                            reset();
                        }

                    }, 1000);
                }                


                function shuffle(a) {
                    var j, x, i;
                    for (i = a.length; i; i--) {
                        j = Math.floor(Math.random() * i);
                        x = a[i - 1];
                        a[i - 1] = a[j];
                        a[j] = x;
                    }
                }     

                function reset(){
                    $scope.score = 0;
                    $scope.totalTime= 30;
                    used_keys = [];

                    getFlag()
                }           




            })

        </script>


    </body>
</html>